.TodoObject {
    display: flex;
    align-items: center;
    padding: 13px 0;
    border-bottom: 1px solid #eee;
    color: #333;
}
    .checkbox {
      display: flex;
      flex: 1;
      align-items: center;
      cursor: pointer;

    }

  
    .important {
      display: flex;
      color: #ccc;
      font-size: 21px;
      cursor: pointer;
    }
      .important:hover {
        color: #f0f351;
      }
  
      .important.star {
        color: #f0f351;
      }
    
  
    .remove {
      display: flex;
      margin-left: 5px;
      color: #ff6b6bc9;
      font-size: 21px;
      cursor: pointer;
    }
      .remove:hover {
        color: #ff6b6b;
      }
    
  