@keyframes rolling{
    /* 0%{
        margin-top:0;
    }
    25%{
        margin-top:-1.5em;
    }

    50%{
        margin-top:-3em;
    }
    75%{
        margin-top:-4.5em;
    }
    100%{
        margin-top:-6em;


    } */
    /* 위의 방법은 뭔가 딱딱한 방법이 이다 */
    0%{
        transform: translateY(0);
    }
    25%{
        transform: translateY(-20%);
    }

    50%{
        transform: translateY(-40%);
    }
    75%{
        transform: translateY(-60%);
    }
    100%{
        transform: translateY(-80%);


    }
}




body, h1, p , ul , h2 ,dl ,dd{
    margin:0; 
    padding :0;
    font-weight: bold;
}

li {
    list-style-type : none;
}

h1, h2{
    font-size: 100%;
    font-weight: normal;
}

a{
    color: inherit;
    text-decoration: none;
}

body{
    background-color: #111 ;
    color: #999;
}
.portrait{
    background-image: url(../images/profile.jpg);
    background-size: cover;
    background-position: center;
    padding-top : 56.25%;


}

.jung{
    padding:5%;

}

/* .profile-header{
    
} */

.name{
    font-size: 30px;
    line-height: 2;
    font-style: italic;
    margin-bottom:30px;
    font-family: 'Noto Sans KR', sans-serif;
    background-color:#ffffff;
    box-shadow: 0 0 50px 10px #ffffff;
}

.name-job {
    display: inline-block;
    vertical-align: top;
    color: #111;
    margin-left: 0.5em;
    padding-right:0.5em;
    height: 2em;
    /* height 1em 하면 font사이즈가 30이면 1em 30임 */
    overflow: hidden;
/* 이제 위 아래로 움직이기 위해서 oveflow 넘쳐흐르는 부분을 삭제 */
    position: relative;
}

.name-job::after {
    content: " ";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin-left : -1em;
 
}

.name-job-list{
    animation-name:rolling;
    animation-duration:10s;
    animation-iteration-count: infinite;
    /* 시간은 1초 애니메이션 롤링 카운터는 무한으로 */
    animation-direction: reverse;
    /* 지금 상태에서는 위로 올라가지만 리버스를 하면 반대로 된다 */
}

.jung-section{
    padding-bottom:14%;
}

.jung-section h2{
    border-top : 3px solid  ;
    color:orangered;
    margin-bottom:20px;
    position: sticky;
    top: 0;
    background-color: #111;
    box-shadow: 0 0 50px 10px #111;
}

.name-title{
    font-size : 1.5em;
    line-height: 1;
    color:deeppink;
    margin-left: -0.3em;
    position: relative;

}
.icons{
    margin: 200px 0 ;
}

.icons a{
    background-image: url(../images/icons.png);
    width: 30px;
    height: 30px;
    display: inline-block;
    text-indent: -9999px;

}

.icons a.facebook{background-position: left top;}
.icons a.instargram{background-position: center top;}
.icons a.git{background-position: right top;}

.icons a:hover{background-position-y:bottom ;}

.timeline{
    font-size:0.7rem;
}

.timeline h3 {
    color: orange;
    float: left;
    font-size:1rem;
    margin-right: 0.5em;
    border-top:3px solid;
    letter-spacing: 0.2em;
    padding-top: 0.2em;
}

.timeline li{
    padding-bottom: 30px;
}

.timeline li:last-child{
    padding-bottom: 0;
}

.graph li{
    background: rgb(255,0,211);
    background: linear-gradient(90deg, rgba(255,0,211,1) 0%, rgba(171,86,182,1) 0%, rgba(144,23,117,1) 0%, rgba(190,128,197,1) 0%, rgba(190,128,197,1) 0%, rgba(190,128,197,1) 0%, rgba(99,58,103,1) 0%, rgba(195,3,178,1) 100%, rgba(190,128,197,1) 100%);
    color: #ffffff;
    padding: 0.5em 1em;
    margin: 0.4em 0;
    border-radius: 50px;
    box-sizing: border-box;
    
}

.graph li::before{
    content: attr(data-score);
    float: right;
    font-size: 1.5em;
    font-weight: bold;
    position: relative;
    top: 0.5em;
}

.graph li[data-score="100%"]{
    width:100%;
}
.graph li[data-score="40%"]{
    width:40%;
}
.graph li[data-score="50%"]{
    width:50%;
}
.graph li[data-score="70%"]{
    width:70%;
}

.list dt{
    color: orange;
    float: left;
    width: 4em;
}

.list dd{
    overflow: hidden;
}

@media (min-width: 768px){
    .portrait{
        position:absolute;
        left:0;
        top:0;
        width:50%;
        height:100%;
        padding:0;
    }
    .jung{
        margin-left:50%;
    }
    .timeline li{
        width:50%;
    }
    .timeline li:last-child(even){
        margin-left:auto;
        margin-top:-150px;
        margin-bottom:-150px;
    }
    .name{
        font-size: 3vw;
    }
}